.comparison-main{
    background-color: #141B21;
    width: 100vw;
    height: 92vh;
    float: left;
}
  
.dropdown-holder{
    float: left;
    width: 20%;
    height: 70%;
    margin-top: 6%;
    margin-left: 4%;
    background-color: aqua;
}
 
.radar-holder{
    float: right;
    width: 30vw;
    height: auto;
    margin-top: 5%;
    margin-right: 25%;
    background-color: white;
}

.starships{
    width: 250px;
    height: 30px;
    margin-bottom: 10px;
  }