body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 , h5, p, a{
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}


.navigation{
  background-color: #141B21;
  height: 8vh;
}


.logo-holder{
  margin-top: 1%;
  margin-left: 4%;
  float: left;
}

.logo-img{
  width: 25%;
}

.nav-holder{
  float: right;
  margin-right: 6%;
  margin-top: 1.2%;
  text-align: center;
}

.nav-text{
  display: inline;
  margin-right: 10%;
  color: white;
}

.nav-text a {
  color: white;

}

.nav-text a:hover{

  color: yellow;
  text-shadow: 2px 2px black;
}


.comparisonNav{
  height: 8vh;
  background-color: #141B21;
  float: left;
  margin-right: 6%;
  margin-top: 1.2%;
  text-align: center;
  bottom: 0;
  width: 100vw;
  position: absolute;
}
